<template>
    <div id="home">
        <banner-job />
        <page-main />
        <page-download />
        <!-- <contents-table /> -->
    </div>
</template>

<script>
import bannerJob from '@/pages/home/BannerJob'
import pageMain from '@/pages/home/PageMain'
import pageDownload from '@/pages/home/PageDownload'

export default {
  name: 'homePage',
  components: {
    bannerJob,
    pageMain,
    pageDownload
  }
}
</script>

<style>

</style>
