<template>
  <div id="example">
      <div class="panel panel-default">
          <div class="panel panel-heading">작가서비스</div>
          <div class="panel-body">준비중입니다.</div>
      </div>
  </div>
</template>

<style>
    #example {margin : 10px auto; max-width: 820px; min-width: 820px;
    padding: 0px; position: relative; font: 13px "verdana";}
</style>
