<template>
  <div>
      <p class="addnew">
          <router-link class="btn btn-primary" v-bind:to="{name: 'addboard'}">
              새로운 게시물 추가하기</router-link>
      </p>
      <div id="example">
          <table id="list" class="table table-striped table-bordered table-hover">
              <thead>
                  <tr>
                      <th>번호</th><th>제목</th><th>작성자</th><th>작성시간</th><th>삭제</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="board in boardlist.boards">
                      <td>{{board.id}}</td>
                      <td @click="editBoard(board.id)">{{board.title}}</td>
                      <td>{{board.name}}</td>
                      <td>{{board.date}}</td>
                      <td>
                          <button class="btn btn-primary" @click="deleteBoard(board.id)">삭제</button>
                      </td>
                  </tr> 
              </tbody>
          </table>
      </div>
      <paginate ref="pagebuttons"
        :page-count="totalpage"
        :page-range="7"
        :margin-pages="3"
        :click-handler="pageChanged"
        :prev-text="'이전'"
        :next-text="'다음'"
        :container-class="'pagination'"
        :page-class="'page-item'">
      </paginate>
      <router-view></router-view>
  </div>
</template>

<script>
import Constant from '../constant';
import {mapState} from 'vuex';
import Paginate from 'vuejs-paginate';
import _ from 'lodash';

export default {
    name: 'boardList',
    components : {Paginate},
    computed : _.extend(
        {
            totalpage: function(){
                var totalcount = this.boardlist.totalcount;
                var pagesize = this.boardlist.pagesize;
                return Math.floor((totalcount - 1) / pagesize) + 1;
            }
        },
        mapState(['boardlist'])
    ),
    mounted : function(){
        var page = 1;
        if(this.$route.query && this.$route.query.page) {
            page = parseInt(this.$route.query.page);
        }
        
        this.$store.dispatch(Constant.FETCH_BOARDS, {pageno:page});
        this.$refs.pagebuttons.selected = page -1;
    },
    watch : {
        '$route' : function(to, from) {
            if(to.query.page && to.query.page != this.boardlist.pageno + 2) {
                var page = to.query.page;
                this.$store.dispatch(Constant.FETCH_BOARDS, {pageno:page});
                this.$refs.pagebuttons.selected = page-1;
            }
        }
    },
    methods: {
        pageChanged: function(page) {
            this.$router.push({name: 'boards', query: {page:page}});
        },
        editBoard : function(id){
            this.$router.push({name: 'updateboard', params : {id:id}});
        },
        deleteBoard : function(id){
            if(confirm("정말로 삭제하시겠습니까?") == true){
                this.$store.dispatch(Constant.DELETE_BOARD, {id:id});
                this.$router.push({name: 'boards'});
            }
        }
    }
}
</script>

<style scoped>
.addnew{ margin: 10px auto; max-width: 820px; min-width: 820px;
padding: 40px 0px 0px 0px; text-align: left;}
#example {margin: 10px auto; max-width: 820px; min-width: 820px;
padding: 0px; position:relative; font: 13px "verdana";}
#example .long{width: 100%;}
#example .short{width: 50%;}
#example input, textarea, select{box-sizing: border-box;
border: 1px solid #BEBEBE; padding: 7px; margin: 0px; outline: none;}
#list {width: 800px; font: 13px "verdana";}
#list thead tr {color: black; background-color: powderblue;}
#list th:nth-child(5n+1), #list td:nth-child(5n+1){width: 60px;}
#list th:nth-child(5n+2), #list td:nth-child(5n+2){width: 500px;}
#list th:nth-child(5n+3), #list td:nth-child(5n+3){width: 100px;}
#list th:nth-child(5n+4), #list td:nth-child(5n+4){width: 100px;}
#list th:nth-child(5n), #list td:nth-child(5n){width: 60px;}
#list th {padding: 10px 5px 10px 5px;}
#list tr {border-bottom: solid 1px black;}
#list td, #list th {text-align: center; vertical-align: middle;}

</style>
