<template>
  <div class="modal">
      <div class="form" @keyup.esc="cancelEvent">
          <h3 class="heading">::{{headingText}}</h3>
          <div v-if="mode =='update'" class="form-group">
              <label>일련번호</label>
              <input type="text" name="no" class="long" disabled v-model="board.id" />
          </div>
          <div class="form-group">
              <label>제목</label>
              <input type="text" name="title" class="long" v-model="board.title" ref="title"
               placeholder="제목을 입력하세요"/>
          </div>
          <div class="form-group">
              <label>작성자</label>
              <input type="text" name="name" class="long" v-model="board.name" 
              placeholder="작성자의 이름을 입력하세요" />
          </div>
          <div class="form-group">
              <label>게시물</label>
              <textarea name="document" rows="6" cols="43" v-model="board.document">여기에 게시물을 입력하세요</textarea>
          </div>
          <div class="form-group">
              <div>&nbsp;</div>
              <input type="button" class="btn btn-primary"
              v-bind:value="btnText" @click="submitEvent()" />
              <input type="button" class="btn btn-primary"
              value="취 소" @click="cancelEvent()" />
          </div>
      </div>
  </div>
</template>

<script>
import Constant from '../constant';
import {mapState} from 'vuex';
import _ from 'lodash';

export default {
    name: 'boardForm',
    data: function(){
        return {mode:"add"}
    },
    props : ['id'],
    computed : _.extend({
        btnText : function(){
            if(this.mode != 'update') return '추 가';
            else return '수 정';
        },
        headingText : function(){
            if(this.mode != 'update') return '새로운 연락처 추가';
            else return '연락처 변경';
        }
    },
        mapState(['board', 'boardlist'])
    ),
    mounted: function(){
        this.$refs.title.focus();
        var cr = this.$router.currentRoute;
        if(cr.fullPath.indexOf('/add') > -1){
            this.mode = "add";
            console.log("add board");
            this.$store.dispatch(Constant.INITIALIZE_BOARD_ONE);
        }else if(cr.fullPath.indexOf('/update') > -1){
            this.mode = "update";
            this.$store.dispatch(Constant.FETCH_BOARD_ONE, {id:this.id});
        }
    },
    methods : {
        submitEvent : function(){
            if(this.mode == "update"){
                //
                this.board.date = getTimeStamp();
                this.$store.dispatch(Constant.UPDATE_BOARD);
                this.$router.push({name: 'boards', query: {page: this.boardlist.pageno}});
            }
            else {
                this.board.date = getTimeStamp();
                this.$store.dispatch(Constant.ADD_BOARD);
                this.$router.push({name: 'boards', query: {page: 1}});
            }
        },
        cancelEvent : function(){
            console.log("pageno : ",   this.boardlist.pageno);
            this.$router.push({name: 'boards', query: {page: this.boardlist.pageno + 2}});
            //this.$store.dispatch(Constant.CANCEL_FORM);
        }
    }
}

function getTimeStamp() {
    var d = new Date();
    var s = 
    leadingZeros(d.getFullYear(), 4) + '-' +
    leadingZeros(d.getMonth() + 1, 2) + '-' + 
    leadingZeros(d.getDate(), 2) + ' ' + 
    leadingZeros(d.getHours(), 2) + ':' +
    leadingZeros(d.getMinutes(), 2) + ':' +
    leadingZeros(d.getSeconds(), 2);

    return s;
}

function leadingZeros(n, digits){
    var zero = '';
    n = n.toString();
    if(n.length < digits)
    {
        for(var i = 0; i < digits - n.length; i++)
        zero += 0;
    }
    return zero + n;
}
</script>

<style scoped>
    .modal{display: block; position: fixed; z-index: 1;
    left: 0; top: 0; width:100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
    .form{background-color: white; margin:100px auto; max-width: 400px; min-width: 200px; font: 13px "verdana"; padding: 10px 10px 10px 10px;}
    .form div {padding: 0; display: block; margin: 10px 0 0 0;}
    .form label {text-align: left; margin: 0 0 3px 0; padding: 0px; display: block; font-weight: bold;}
    .form input, textarea, select {box-sizing: border-box; border: 1px solid #BEBEBE; padding: 7px; margin: 0px; outline: none;}
    .form .long {width: 100%;}
    .form .button {background: #2B798D; padding: 8px 15px 8px 15px;}
    .form .button:hover {background: #4691A4;}
    .form .heading {background: #33A17F; font-weight: 300; text-align: left; padding: 20px; color: #fff;
        margin:5px 0 30px 0; padding: 10px; min-width: 200px; max-width: 400px;}
</style>
