<template>
  <div id="make-book3">
    <div class="container">
      <div>선택한 책 형태 띄우기</div>

      
          <label>표제*</label> <br/>
          <div class="form-group">
          <input type="text" size="100%" v-model="main" placeholder="표제를 입력합니다."/> <br/>
          </div>
          <label>부제</label><br/>
          <div class="form-group">
          <input type="text" v-model="second" placeholder="부제를 입력합니다."/><br/>
          </div>
          <label>저자*</label><br/>
           <div class="form-group">
          <input type="text" v-model="name" placeholder="저자를 입력합니다." /><br/>
           </div>
          
          
              <label>페이지수*</label><br/>   
              <div class="form-group">
            <input type="text" v-model="name" placeholder="저자를 입력합니다." />
            </div>
            <label>카테고리*</label><br/>   
            <select class="form-group">
                <option value="select1">선택하기</option>
                <option value="select2">시,에세이</option>
                <option value="select3">소설</option>
                <option value="select4">전기/회고록</option>
                <option value="select5">경영/경제/자기계발</option>
                <option value="select6">인문사회</option>
                <option value="select7">기타</option>                             
            </select>
            <div class="well">                   
                    <label>원고 업로드*</label><br/>      
                    <button class="btn btn-primary">업로드하기</button>  
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/make2"> < Step1 책형태선택 </router-link></a>            
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="#"> Step3 표지등록 ></router-link></a>            
                    </p>
                </div>
            </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    .container {border:solid 1px gray; padding: 10px; margin-bottom:10px; text-align:left}
    .form-group {border:dashed 1px gray; padding: 5px 5px 5px 20px;}
    .form-group input, select {width: 100%;}
    
</style>
