<template>
  <div id="example">
      <div class="panel panel-default">
          <div class="panel panel-heading">Make</div>
          <div class="panel-body">책 만들기 화면입니다.</div>
      </div>

    <div>
        <h1>배너부분입니다. 책만들기 가이드와 연결됩니다.</h1>
    </div>
    <div>
        <h1>종이책, 전자책 만들기와 연결됩니다.</h1>
    </div>
    <div>
        <h1>제휴서비스 연결 부분입니다.</h1>
    </div>
  </div>
</template>

<style>
    #example {margin : 10px auto; max-width: 820px; min-width: 820px;
    padding: 0px; position: relative; font: 13px "verdana";}
</style>
