<template>
<div id = "make-book">   
    <div class="jumbotron" style="background-image:url(./banner1.jpeg)">
        <div>
            <h1>
                <p class="text-center"><strong>스마트</strong>한 책만들기</p>
            </h1>
            <h6>
                <p class="text-center">책만들기 과정을 따라하면 바로 인쇄 가능한 멋진 책이 금방 완성됩니다.</p>
            </h6>
            <h6>
                <p class="text-center">작가님이 원하시는 대로 직접 책을 만들고 인쇄하여 소장하거나 판매해보세요!</p>
            </h6>
            <p class="text-center">
                <a href="#" class="btn btn-primary">책만들기가이드</a>
            </p>
        </div>
    </div>
    <div class="container theme-showcase" role="main">
        <div name="book-service">
            <div class="row">
                <div class="col-md-6">
                    <div class=" jumbotron ">
                        <div>
                            <h3>
                                <p class="text-left "><strong>종이책</strong></p>
                            </h3>
                            <h6>
                                <p class="text-left ">고퀄리티의 종이책을</p>
                            </h6>
                            <h6>
                                <p class="text-left ">직접 편집하고</p>
                            </h6>
                            <h6>
                                <p class="text-left ">쉽게 출판할 수 있습니다.</p>
                            </h6>
                            <p class="text-right ">                              
                                <button class="btn btn-primary"><router-link to="/step1">종이책 만들기</router-link></button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="jumbotron ">
                        <div>
                            <h3>
                                <p class="text-left "><strong>전자책</strong>(e-book)</p>
                            </h3>
                            <h6>
                                <p class="text-left ">전자책 단말기 및 웹뷰어로</p>
                            </h6>
                            <h6>
                                <p class="text-left ">이용할수 있는 e-book을</p>
                            </h6>
                            <h6>
                                <p class="text-left ">편집하고 생성할 수 있습니다</p>
                            </h6>
                            <p class="text-right ">
                                <a href="# " class="btn btn-primary ">전자책 만들기</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alliance-service">
            <h2>
                <p class="text-center">BOOK 제휴서비스</p>
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <div class=" jumbotron ">
                        <h6>준비중입니다.</h6>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="jumbotron ">
                        <h6>준비중입니다.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

