<template>
  <div id="make-book2">
   <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="alert alert-info" role="alert">
                    <strong>도서 컬러를 선택해주세요!</strong>
                </div>
                그림
                <div class="alert alert-info" role="alert">
                    <strong>책 규격을 선택해주세요!</strong>
                </div>
                그림
                <div class="alert alert-info" role="alert">
                    <strong>표지 재질을 선택해주세요!</strong>
                </div>
                그림
                <div class="alert alert-info" role="alert">
                    <strong>책 날개를 선택해주세요!</strong>
                </div>
                그림
                <div class="well">
                    <p>
                        <small> > 무료표지는 책날개를 지원하지 않습니다. <br/> > 하드커버는 50부 이상 주문시에만 가능합니다.</small>
                    </p>
                </div>
                 <p class="text-center ">
                    <a class="btn btn-primary"><router-link to="/make3">Step2 원고등록 ></router-link></a>            
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="panel panel-warning">
                    <div class="panel-heading">                       
                            <strong>상세정보</strong>                        
                    </div>
                    <div class="panel-body">
                        <label>제본방식</label> <br/><label>컬러</label> <br/> <label>책 규격</label> <br/>
                        <label>표지 재질</label><br/> <label>내지 재질</label><br/> <label>책날개</label> <br/>
                        <label>페이지 수</label><br/> <label>책등 두께</label><br/> <label>면지</label> <br/>
                        <hr/>
                        <label>예상 판매 가격</label> <br/>
                        <label> 예상 판매 수익<br/> (100부 판매시)</label> <br/> <label>소장용 가격</label>
                        <br/>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">종이샘플 요청하기 > </button>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">원고서식 다운로드 > </button>
                </div>
            </div>
        </div>
        <!-- side bar -->
       

    </div>
    <!-- container -->
  </div>
</template>

<script>
export default {
 
}
</script>

<style>

</style>

