<template>
  <div id="step3">
       <div class="container">
           <div class="select-surface">
            <div class="well text-left">                   
                <label>표지디자인 선택*</label><br/>   
            </div>     
            <div class="text-left">       
            <input type="radio" name="surface_design" value="free" > 무료 템플릿 (BOOK에서 제공하는 무료 템플릿을 이용할 수 있습니다.)<br/>
            <input type="radio" name="surface_design" value="individual"> 직접 올리기 (작가님께서 직접 편집하신 표지 디자인이미지를 업로드할 수 있습니다.)<br/>
            <input type="radio" name="surface_design" value="purchase" > 구입한 디자인 (BOOK에서 제공하는 작가서비스에서 구입한 디자인을 선택할 수 있습니다.)<br/>
            </div>
            <div>
            radio로 선택한 화면 라우터 띄우기
            </div>
            <div class="preview">
                <div class="well text-center">                   
                    <label>이 미리보기는 실제 책 규격이나 표지 디자인과 완전히 일치하지 않습니다.</label><br/> 
                    <img src="../assets/surface.png" />
                </div>
            </div>
            <div class="well text-left">
                <label>뒷면 글귀</label><br/>
                <input type="text" placeholder="뒷면 글귀를 입력합니다."/> <br/>
            </div>
            </div>       
            <div class="route-button">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step2"> < Step2 원고등록 </router-link></a>            
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step4"> Step4 가격설정 ></router-link></a>            
                    </p>
                </div>
            </div>
            </div>
       </div>
  </div>
</template>

<script>
export default {
    name:'step3'
}
</script>

<style scoped>
.well {padding: 5px 5px 5px 20px;}
.well input{width: 100%;}
</style>