<template>
  <div id="step6">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="well">
                      <img src="../assets/bookinfo.png" />
                  </div>
              </div>

              <div class="col-md-6">
                   <div class="panel panel-warning">
                       <div class="panel-heading text-left">                       
                            <strong>책 정보 확인</strong>                                                  
                        </div>
                        <div class="panel-body text-left">
                            <label>표제</label> <br/>
                            <label>부제</label> <br/>
                            <label>저자</label> <br/>
                            <label>분류</label> <br/>
                            <label>목적</label> <br/>
                            <label>페이지 수</label> <br/>
                            <label>소비자 가격</label> <br/>      
                            <hr/>                     
                        </div>
                         <div class="panel-body text-left">
                            <label>제본방식</label> <br/>
                            <label>표지</label> <br/>
                            <label>내지</label> <br/>
                            <label>규격</label> <br/>
                            <label>컬러</label> <br/>
                            <label>후가공</label> <br/>
                            <label>면지</label> <br/>                           
                        </div>
                   </div>
              </div> 
          </div> <!-- row -->

          <div class="well text-left">
              <label>성인 컨텐츠 여부</label>                      
          </div>
          <div class="text-left">
               <input type="radio" name="adult" value="y"><Strong>성인용</Strong> <small style="color:red">성인용 도서 체크시 미성년자는 도서구매가 불가능합니다.</small><br/>  
          </div>
          <br/><br/>

            <div class="well text-left">
                <label>책 목차</label><br/>
                <input type="text" placeholder="책 목차를 입력합니다."/> <br/>
            </div>

            <div class="well text-left">
                <label>책 설명</label><br/>
                <input type="text" placeholder="책 설명을 입력합니다."/> <br/>
            </div>

            <div class="well text-left">
                <label>저자 소개</label><br/>
                <input type="text" placeholder="저자 소개를 입력합니다."/> <br/>
            </div>
            <br/><br/>
            <div class="route-button">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step5"> < Step5 ISBN 등록 </router-link></a>            
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="#"> 도서 제출 ></router-link></a>            
                    </p>
                </div>
            </div>
         </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'step6'
}
</script>


<style scoped>
.well {padding: 5px 5px 5px 20px;}
.well input{width: 100%;}
</style>