<template>
  <div id="step5">
      <div class="container">
          <div class="text-left">
          <label>ISBN 등록*</label> </div>
          <div class="form-group text-left">
              <div style="color:black"> > ISBN이란?container</div>
              <div style="color:black"> > 국제 표준 도서 번호(International Standard Book Number, ISBN)는 국제적으로 책에 붙이는 고유한 식별자이다.</div>
              <div style="color:black"> > ISBN 체제는 원래 1966년 영국에서 "표준 도서 번호"(SBN)라는 이름으로 만들어졌고, 1970년 국제 표준화 기구에 의해 ISO 2108이라는 표준으로 채택되었다. </div>
              <div style="color:red"> > ISBN 승인에는 약 2~3일의 시간이 소요됩니다.</div>
              <div style="color:red"> > 승인이후에는 원고 수정이 불가능합니다.</div>
          </div>

        <div class="select-isbn text-left">
            <input type="radio" name="isbn" value="y" checked > BOOK 대행(Book의 ISBN 등록 대행 무료서비스)<br/>
            <input type="radio" name="isbn" value="n"> 직접 등록 (가지고 있는 ISBN을 입력해주세요)<br/>          
        </div>
        <br/><br/><br/><br/>
        <div class="route-button">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step4"> < Step4 가격설정 </router-link></a>            
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step6"> Step6 책정보 확인 ></router-link></a>            
                    </p>
                </div>
            </div>
         </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'step5'
}
</script>

<style scoped>
    .form-group {border:solid 1px gray; padding: 5px 5px 5px 20px;}
    .form-group input, select {width: 100%;}
</style>