<template>
  <div id="step2">
    <div class="container">
      <div>선택한 책 형태 띄우기</div>
          <label>표제*</label> <br/>
          <div class="form-group">
          <input type="text" size="100%" v-model="main" placeholder="표제를 입력합니다."/> <br/>
          </div>
          <label>부제</label><br/>
          <div class="form-group">
          <input type="text" v-model="second" placeholder="부제를 입력합니다."/><br/>
          </div>
          <label>저자*</label><br/>
           <div class="form-group">
          <input type="text" v-model="name" placeholder="저자를 입력합니다." /><br/>
           </div>
          
          
              <label>페이지수*</label><br/>   
              <div class="form-group">
            <input type="text" v-model="name" placeholder="저자를 입력합니다." />
            </div>
            <label>카테고리*</label><br/>   
            <select class="form-group">
                <option value="select1">선택하기</option>
                <option value="select2">시,에세이</option>
                <option value="select3">소설</option>
                <option value="select4">전기/회고록</option>
                <option value="select5">경영/경제/자기계발</option>
                <option value="select6">인문사회</option>
                <option value="select7">기타</option>                             
            </select>
            <div class="well">                   
                    <label>원고 업로드*</label><br/>  
                    <label>    
                    <input type="file"/>
                    </label>
                    <button class="btn btn-primary">업로드하기</button>  <br/>  <br/>
                    > 원고 파일은 50M 까지 업로드 가능합니다.<br/>
                    > 파일이 큰 경우에는 <a href="#">"빈 파일 다운받기"</a>클릭 후, 다운 받은 파일을 업로드하신 후 info@bookk.co.kr로 원고를 보내주세요. <br/>
                    > 첨부 가능한 파일형식: <strong>pdf, word, hwp(한글)</strong>
            </div>

            <div class="well">                   
                    <label>도서 제작 목적*</label><br/>      
                   <input type="radio" name="make_purpose" value="isbn" > ISBN 발부 책 판매용 (BOOK 외에 다른 유통망(예: 국립도서관 등)에서도 판매가 가능합니다.<br/>
                   <input type="radio" name="make_purpose" value="general"> 일반 판매용(BOOK에서만 판매가 가능합니다.)<br/>
                   <input type="radio" name="make_purpose" value="individual" > 소장용(개인 소장 및 인쇄만 가능합니다.)<br/>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step1"> < Step1 책형태선택 </router-link></a>            
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step3"> Step3 표지등록 ></router-link></a>            
                    </p>
                </div>
            </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'step2'
}
</script>

<style scoped>
    .container {border:solid 1px gray; padding: 10px; margin-bottom:10px; text-align:left}
    .form-group {border:dashed 1px gray; padding: 5px 5px 5px 20px;}
    .form-group input, select {width: 100%;}
    
</style>