<template>
  <div id="step4">
      <div class="container">
          <div class="row row-offcanvas row-offcanvas-right">
              <div class="col-xs-12 col-sm-9">
                  <div class="well text-left">
                      <label>가격설정<strong style="color:red">*</strong> &nbsp;&nbsp;&nbsp;<small style="color:red">※소비자가격은 최소가격보다 높아야 합니다.</small> </label>
                  </div>
                  <div class="text-left">
                  <input  type="text" value="8500"/> 원/권 (최소가격 8,500 원) </div>
                  <br/>
                  <div class="well text-left">
                      <label>정가인하<strong style="color:red">*</strong> </label>
                  </div> 
                  <div class="text-left">
                  <input type="radio" name="discount" value="y"><Strong> 예!</Strong> <small>(작가 수익을 낮추고 소비자가격을 인하 하겠습니다.)</small><br/>  
                  <input type="radio" name="discount" value="n"><Strong> 아니요</Strong> <small>(소비자가격을 인하하지 않겠습니다.)</small><br/>  
                  </div>
                  <br/>
                  <div class="well text-left">
                      <label>외부유통<strong style="color:red">*</strong> &nbsp;&nbsp;&nbsp;<small style="color:red">※무료템플릿을 이용하는 경우 10권이상 판매가 되었을때 외부유통 신청이 가능합니다.</small></label>
                  </div> 
                  <div class="text-left">
                  <input type="radio" name="discount" value="y"><Strong> 예!</Strong> <small>(외부 온라인 서점에서도 유통을 하겠습니다. 교보문고, YES24, 알라딘 등)</small><br/>  
                  <input type="radio" name="discount" value="n"><Strong> 아니요</Strong> <small>(BOOK에서만 판매하여, 외부유통을 하지않겠습니다.)</small><br/>  
                  </div>
              </div>
              <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                    <div class="panel panel-warning">
                       <div class="panel-heading text-left">                       
                            <strong>최종 소비자 가격정보</strong>                                                  
                        </div>
                        <div class="panel-body text-left">
                            <label>최종 소비자가</label> <br/>
                        
                        </div>
                        <div class="panel-heading text-left">                       
                            <strong>BOOK 서점 유통</strong>                                                  
                        </div>
                         <div class="panel-body text-left">
                            <label>소비자가격</label> <br/>
                            <label>인쇄비</label> <br/>
                            <label>BOOK 수수료</label> <br/>
                            <label>작업비, 추가납본보조비 등</label> <br/>
                            <label>정가인하</label> <br/>
                            <hr/> <br/>
                            <label>내 수익</label> <br/>                           
                        </div>
                   </div>
              </div>
          </div>  <!-- row -->
          <br/><br/><br/>
             <div class="route-button">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step3"> < Step3 표지 디자인 </router-link></a>            
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-center ">
                        <a class="btn btn-primary"><router-link to="/step5"> Step5 ISBN 등록 ></router-link></a>            
                    </p>
                </div>
            </div>
         </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'step4'
}
</script>

<style>

</style>