<template>
  <div id="step1">
   <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="alert alert-info" role="alert">
                    <strong>도서 컬러를 선택해주세요!</strong>
                </div>
              <div class="row">
                  <div class="col-md-6">
                <label>
                    <a><img src="../assets/black.png" /></a>
                    <div>
                       <strong>흑백</strong>
                        <div>(표지 - 컬러, 내지 - <strong style="color:red">흑백</strong>)</div>
                     </div>
                </label>
                <input type="radio" name="print_color" value="흑백" v-model="print_color">
                  </div>
                  <div class="col-md-6">
                 <label>
                    <a><img src="../assets/color.png" /></a>
                    <div>
                       <strong>컬러</strong>
                       <div>(표지 - 컬러, 내지 - <strong style="color:red">컬러</strong>)</div>
                     </div>
                </label>
                <input type="radio" name="print_color" value="컬러" v-model="print_color">
                  </div>
              </div>
                <div class="alert alert-info" role="alert">
                    <strong>책 규격을 선택해주세요!</strong>
                </div>
            <div class="row" >
                  <div class="col-md-3" >
                <label>
                    <a><img src="../assets/46.png" /></a>
                    <div>
                       <strong>46판</strong>
                        <div>127*188mm</div>
                        <div>일반도서-시,에세이</div>
                     </div>
                </label>
                <input type="radio" name="print_size" value="46판" v-model="print_size">
                  </div>
                  <div class="col-md-3">
                 <label>
                    <a><img src="../assets/A5.png" /></a>
                    <div>
                       <strong>A5</strong>
                       <div>148*210mm</div>
                       <div>일반도서-소설,에세이</div>
                     </div>
                </label>
                <input type="radio" name="print_size" value="A5" v-model="print_size">
                  </div>
                    <div class="col-md-3">
                <label>
                    <a><img src="../assets/B5.png" /></a>
                    <div>
                       <strong>B5</strong>
                        <div>182*257mm</div>
                        <div>문제지,잡지</div>
                     </div>
                </label>
                <input type="radio" name="print_size" value="B5" v-model="print_size">
                  </div>
                  <div class="col-md-3">
                 <label>
                    <a><img src="../assets/A4.png" /></a>
                    <div>
                       <strong>A4</strong>
                       <div>210*297mm</div>
                       <div>문제지,잡지</div>
                     </div>
                </label>
                <input type="radio" name="print_size" value="A4" v-model="print_size">
                  </div>
              </div>
                <div class="alert alert-info" role="alert">
                    <strong>표지 재질을 선택해주세요!</strong>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            <a><img src="../assets/artea.png" /></a>
                            <div>
                            <strong>아르떼(감성적인)</strong>
                            <div>아르떼 210g, 무광코팅</div>                            
                            </div>
                        </label>
                        <input type="radio" name="print_surface" value="아르떼" v-model="print_surface">
                    </div>
                    <div class="col-md-4">
                        <label>
                            <a><img src="../assets/snown.png" /></a>
                            <div>
                            <strong>스노우(대중적인)</strong>
                            <div>스노우 250g, 무광코팅</div>                            
                            </div>
                        </label>
                        <input type="radio" name="print_surface" value="스노우,무광" v-model="print_surface">
                    </div>
                    <div class="col-md-4">
                        <label>
                            <a><img src="../assets/snowy.png" /></a>
                            <div>
                            <strong>스노우(광택있는)</strong>
                            <div>스노우 250g, 유광코팅</div>                            
                            </div>
                        </label>
                        <input type="radio" name="print_surface" value="스노우,유광" v-model="print_surface">
                    </div>
                </div>
                <div class="alert alert-info" role="alert">
                    <strong>책 날개를 선택해주세요!</strong>
                </div>
                <div class="row">
                  <div class="col-md-6">
                <label>
                    <a><img src="../assets/wingn.png" /></a>
                    <div>
                       <strong>날개없음</strong>                     
                     </div>
                </label>
                <input type="radio" name="pring_wing" value="날개없음" v-model="print_wing">
                  </div>
                  <div class="col-md-6">
                 <label>
                    <a><img src="../assets/wingy.png" /></a>
                    <div>
                       <strong>날개있음</strong>            
                     </div>
                </label>
                <input type="radio" name="pring_wing" value="날개있음" v-model="print_wing">
                  </div>
              </div>
                <div class="well">
                    <p class="text-left">
                        <small> > 무료표지는 책날개를 지원하지 않습니다. <br/> > 하드커버는 50부 이상 주문시에만 가능합니다.</small>
                    </p>
                </div>
                 <p class="text-center ">
                    <a class="btn btn-primary"><router-link to="/step2">Step2 원고등록 ></router-link></a>            
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="panel panel-warning">
                    <div class="panel-heading">                       
                            <strong>상세정보</strong>                        
                    </div>
                    <div class="panel-body">
                        <label>제본방식</label> 
                        <input type="text" disabled v-model="bind_method"/>
                        <label>컬러</label> 
                        <input type="text" disabled v-model="print_color"/>
                        <label>책 규격</label> 
                        <input type="text" disabled v-model="print_size"/>
                        <label>표지 재질</label>
                        <input type="text" disabled v-model="print_surface"/>
                        <label>내지 재질</label>
                        <input type="text" disabled v-model="inner_surface"/>
                        <label>책날개</label> 
                        <input type="text" disabled v-model="print_wing"/>
                        <label>페이지 수</label>
                        <input type="text" />
                        <label>책등 두께</label>
                        <input type="text" disabled /> 
                        <label>면지</label> 
                        <input type="text" disabled />
                        <hr/>
                        <label>예상 판매 가격</label>
                        <input type="text" disabled />
                        <label> 예상 판매 수익<br/> (100부 판매시)</label> 
                        <input type="text" disabled/> 
                        <label>소장용 가격</label>
                        <input type="text" disabled />                       
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">종이샘플 요청하기 > </button>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">원고서식 다운로드 > </button>
                </div>
            </div>
        </div>
        <!-- side bar -->
       

    </div>
    <!-- container -->
  </div>
</template>

<script>
export default {
    name: 'step1',
    data ()
    {
        return {
            bind_method: "무선제본",
            print_color: "",
            print_size: "",
            print_surface: "",
            inner_surface: "백색모조지 100g",
            print_wing: "",
            predit_price: ""
        }
    }
}
</script>

<style>

</style>