<template>
  <boardForm mode="update" :board="board" />
</template>

<script>
import BoardForm from './BoardForm.vue';

export default {
    name: 'updateBoard',
    components : {BoardForm},
    props: ['board']
}
</script>

<style>

</style>
