<template>
<div id="app">
  <div id="container">
    <page-header />
     <!--<div class="page-header">
     <h1 class="text-center"> 동섭도 애플리케이션</h1>
      <p>(Vue-router + Vuex + Axios)</p>
      <div class="btn-group">
        <router-link to="/home" class="btn btn-info menu">Home</router-link>
        <router-link to="/make" class="btn btn-info menu">Make</router-link>
        <router-link to="/about" class="btn btn-info menu">About</router-link>
        <router-link to="/boards" class="btn btn-info menu">Boards</router-link>
      </div>
    </div> -->
    <router-view></router-view>
    <page-footer />
  </div>
  </div>
</template>

<script>
import pageHeader from '@/pages/layout/PageHeader'
import pageFooter from '@/pages/layout/PageFooter'
import presetStyler from '@/pages/layout/PresetStyler'

export default {
  name: 'app',
  components: {
    pageHeader,
    pageFooter
  }
}
</script>

<style scoped>
@import url("https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css");

#container {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px
}

.menu {
  width : 100px;
}
</style>
